/* diseño de menu */
.menu,
nav {
  color: #fff;
  background-size: cover;
  background-image: url(../img/prueba.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px;
}
.neon-blink-container h1 {
  font-size: 30px;
}
html {
  scroll-behavior: smooth; /* efecto para navegar en la misma pagina  */
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-family: fantasy;
}
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    display: block;
    margin-bottom: 10px;
  }
}
header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
a:hover {
  color: rgb(216, 42, 11);
}
/* cuerpo del htl */
.primerasclases {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
}
.zoom-button {
  border-radius: 10%;
  box-shadow: 16px 14px 20px rgba(179, 9, 9, 0.616);
  display: inline-block;
  overflow: hidden;
  position: relative;
  max-width: 200%;
}
.zoom-button img {
  max-width: 250px;
  height: auto;
}
.zoom-image {
  transition: transform 0.3s;
  max-width: 200%;
  height: auto;
}
.zoom-button:hover .zoom-image {
  transform: scale(1.2);
}
body {
  background-color: black;
}
/* animaciones de secciones y eventos */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hidden {
  overflow: hidden;
}
.centrado {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.neon-blink {
  display: inline-block;
}
.neon-blink-white {
  animation: neon-blink-white 1s infinite;
}
.neon-blink-blue {
  animation: neon-blink-blue 1s infinite;
}
nav {
  background-color: #000;
  color: #fff;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  display: inline;
  margin-right: 10px;
}
h1 {
  margin: 0;
}
/* alerta de inicio */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

li button {
  background-color: #000;
  font-family: fantasy;
  color: rgb(8, 8, 8);
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Ajusta la altura al 100% del viewport para centrar verticalmente */
}
